---
title: Four oh four not found
---

<div class="welcome">
  <h1>Middleman couldn't find that</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
